package {{package}};

{{#imports}}
import {{.}};
{{/imports}}


public class {{className}} extends BaseUnitTests  {

@Test
void it_should_create_{{lowerName}}_with_valid_values() {
	{{#fields}}
		{{type}} {{name}} = {{type}}.create({{{testValue}}});
	{{/fields}}
		{{aggregateName}} {{lowerName}} = new {{aggregateName}}({{#fields}}{{name}}{{^last}}, {{/last}}{{/fields}});
		assertThat({{lowerName}}.getId()).isNotNull();
	{{#fields}}
		assertThat({{lowerName}}.get{{nameCapitalized}}()).isEqualTo({{name}});
	{{/fields}}
}

{{#fields}}
	{{#hasValidation}}
		@Test
		void it_should_throw_when_{{name}}_is_invalid() {
		{{exceptionName}} error = assertThrows({{exceptionName}}.class, () -> {{type}}.create({{{errorTestValue}}}));
		assertThat(error.getMessage()).isEqualTo("{{errorMessage}}");
		}
	{{/hasValidation}}
{{/fields}}

}
