package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

import org.junit.jupiter.api.Test;
import org.springframework.beans.factory.annotation.Autowired;
import static org.assertj.core.api.Assertions.assertThat;

public class {{name}}DeleteControllerIntegrationTest extends BaseIntegrationTests {

@Autowired
private {{name}}Repository {{nameLower}}Repository;

@Test
void it_should_be_able_to_delete_{{nameLower}}() {
{{name}} entity = {{name}}Fixtures.randomOne({{nameLower}}Repository).block();
String existingId = entity.getId();

this.delete("/v1/commands/{{nameLower}}/" + existingId)
.expectStatus().isOk()
.expectBody()
.jsonPath("$.code").isEqualTo(1);

{{name}} found = {{name}}Fixtures.byId({{nameLower}}Repository, existingId).block();
assertThat(found).isNull();
}
}
