package {{package}};

{{#imports}}
	import {{.}};
{{/imports}}
import java.io.Serializable;
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.Builder;
import io.swagger.v3.oas.annotations.media.Schema;
import java.util.UUID;

@Getter
@Setter
@AllArgsConstructor
@NoArgsConstructor
@Builder
@Schema(name = "{{name}}Request", description = "Request payload for {{name}} operations")
public class {{name}}Request implements Serializable {

	{{#fields}}
		{{^isId}}
			@Schema(description = "{{description}}", example = "{{example}}")
			private {{primitiveType}} {{name}};
		{{/isId}}
	{{/fields}}

	public static {{name}}Request random() {
	{{name}}Request request = new {{name}}Request();
	{{#fields}}
		{{^isId}}
	request.set{{nameCapitalized}}({{{testValue}}});
		{{/isId}}
	{{/fields}}
	return request;
}
}
