package {{package}};

import java.io.Serializable;
import java.util.Date;
import java.util.List;

import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.Builder;
import io.swagger.v3.oas.annotations.media.Schema;

@Getter
@Setter
@AllArgsConstructor
@NoArgsConstructor
@Builder
@Schema(name = "{{name}}PagedResponse", description = "Paginated response for {{name}} results")
public class {{name}}PagedResponse implements Serializable {

@Schema(description = "List of paginated {{name}} items")
private List<{{name}}Response> content;

	@Schema(description = "Current page number", example = "0")
	private int page;

	@Schema(description = "Page size", example = "10")
	private int size;

	@Schema(description = "Total number of elements", example = "100")
	private long totalElements;

	@Schema(description = "Total number of pages", example = "10")
	private long totalPages;

	public static {{name}}PagedResponse from(List<{{name}}Response> content, int page, int size, long totalElements, long totalPages) {
		return {{name}}PagedResponse.builder()
		.content(content)
		.page(page)
		.size(size)
		.totalElements(totalElements)
		.totalPages(totalPages)
		.build();
		}
}
